<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>Smart Home</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href='{% static "css/logout.css" %}'>

  </head>
  <body background='{% static "images/background.jpg" %}'>
    <div class="jumbotron">
      <div class="container">
          <div class="">
            <img class="logo" src='{% static "images/logo-project.png" %}'></a>
          </div>
          <br>
          <h3 id="logout_info">You have been logged out, log in again</h3>
          <br>
          <a href="/login">Click to log in again</a>
        </div>
      </div>
  </body>
</html>
