h2{
    text-align: center;
    color: #d60e4b;
}

.btn{
    background: #c8486e;
    color: white;
    font-weight: bolder;
    margin: auto;
    display: block;
    border: 1px solid #750c2b;
}

.label{
    background: #c7486d;
    color: white;
    font-weight: bold;
}
.input-div{
    min-width: 150px;
    max-width: 500px;
    margin: auto;
}